<!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img style="height: 50px" src="assets/image/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->

  <ul class="navbar-nav mr-auto text-uppercase">
        <li class="nav-item active">
          <a class="nav-link font-weight-normal" href="#" style="color: white">Home</a>
        </li> 
      </ul> 

      <!-- Links -->
      
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <!--   <li class="nav-item"><a href="" class="nav-link waves-effect" style="color: white"><span class="badge red z-depth-1 mr-1"> 2 </span><i id="navbar-static-cart" alt="Cart" class="fa fa-bell"></i><span class="sr-only" > Cart </span></a></li> -->
   <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="" class="nav-link waves-effect" style="color: white">
          <i class="fa fa-bell" >2</i><span class="d-none d-xl-inline-block ml-1">Notification</span>
          </a>
        </li>
        <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="" class="nav-link waves-effect" style="color: white">
          <i class="fas fa-question-circle"></i><span class="d-none d-xl-inline-block ml-1">Help</span>
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa fa-university" style="color: white"></i><span class="d-none d-xl-inline-block ml-1" style="color: white">You are in ABC Bank </span></a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="adminupdatecomponent">Profile</a>
            <a class="dropdown-item" href="login">Logout</a>
           
          </div>
        </li>
      </ul>

    </div>
    <!-- Collapsible content -->
    </div>
  </nav>
  <!--/.Navbar-->
<div class="abc">
<div class="container" id="responsive">
    
    <br><br>
      <ag-grid-angular 
    style="width: 1100px; height: 600px; padding: -100px;" 
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [modules]="modules"
    >
</ag-grid-angular>
   
<!-- </div>
<div>
  <ol>
    <li *ngFor='let user of getData'>{{user.account_no}}<b>||</b>{{user.name}}<b>||</b></li>
  </ol>
</div>
</div> -->
<!-- <br> -->
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
 <br>
  <div class="container mt-5 mb-4 text-center">
 <div class="row md-3">
   <!-- Grid column -->
      <div class="col-md-6 offset-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <strong style="color:white">ABC Bank</strong>
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p style="color:white">ABC provides a full range of services in consumer, SME and corporate banking. As a bank born and bred in Asia, ABC understands the intricacies of doing business in the region’s most dynamic markets. ABC is committed to building lasting relationships with customers, and positively impacting communities through supporting social enterprises, as it banks the Asian way.</p>
        </div>
      <!-- Grid column -->
     <!--  <hr class="clearfix w-100 d-md-none pb-3"> -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 ">
            <h6 class="text-uppercase font-weight-bold">
                <strong style="color:white">Contact</strong>
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" >
            <p style="color:white">
                <i class="fas fa-home  mr-3"></i> Bangalore-562110, India</p>
            <p style="color:white">
                <i class="fas fa-envelope mr-3"></i> www.abcbank.com</p>
            <p style="color:white">
                <i class="fa fa-phone mr-3"></i> 1800-2345-2345</p>
        </div>
      </div>
      <!-- Grid column -->
<div class="row md-3">
   <div class="col-md-4 ">
   </div>
      <div class="col-md-4 " style="color:white" >
         <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
            <a class="mx-3" role="button">Terms & Conditions</a>
          </li>
          <li>
            <a class="mx-3" role="button">FAQs</a>
          </li>
           <li>
            <a class="mx-3" role="button"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="mx-3" role="button"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ">
   </div>
    </div>

  </div>


</footer>

<!--/.Footer-->





   
